{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}
{% block title %}Profile{% endblock %}

{% block user_stylesheet %}
    {% if user.themeColor is not empty %}
        <style>
            {% include 'user_theme.css.twig' with { primaryColor: user.themeColor } %}
        </style>
    {% endif %}
{% endblock %}

{% block body %}

    {% if user is not empty and user.coverPath is not empty %}
        {% set cover_url = asset('upload/banner/' ~ user.coverPath) %}
    {% else %}
        {% set cover_url = asset('assets/img/cover-placeholder.jpg') %}
    {% endif %}
    <div id="banner" class="col-12" style="background-image: url('{{ cover_url }}');">
    </div>

    <div class="nav-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="profile-avatar">
                        {% if user.avatarPath is empty %}
                            <img src="{{ asset('assets/img/user-placeholder.png') }}" height="200" width="200" alt="Profile picture" class="avatar">
                        {% else %}
                            <img src="{{ asset('upload/avatar/'~ user.avatarPath) }}" height="200" width="200" alt="Profile picture" class="avatar">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="profile-nav" class="nav">
                        <a class="nav-link" href="{{ path('profile_view', {username: user.username}) }}">
                            <div>
                                <span>Quacks</span>
                                <div><strong>{{ (user.posts|length)|number_format }}</strong></div>
                            </div>
                        </a>
                        <a class="nav-link" href="{{ path('profile_following', {username: user.username}) }}">
                            <div>
                                <span>Following</span>
                                <div><strong>{{ (user.following|length)|number_format }}</strong></div>
                            </div>
                        </a>
                        <a class="nav-link" href="{{ path('profile_followers', {username: user.username}) }}">
                            <div>
                                <span>Followers</span>
                                <div><strong>{{ (user.followers|length)|number_format }}</strong></div>
                            </div>
                        </a>
                        <a class="nav-link" href="{{ path('profile_favorites', {username: user.username}) }}">
                            <div>
                                <span>Likes</span>
                                <div><strong>{{ (user.favorites|length)|number_format }}</strong></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 profile-nav-btn-group button-profile">
                    {% if app.user is not empty %}
                        {% if app.user.id == user.id %}
                            <a href="{{ path('edit_profile', {username: user.username}) }}" class="btn btn-primary profile-nav-btn">Edit Profile</a>
                        {% else %}
                            {% set already_following = 0 %}
                            {% for f in app.user.following %}
                                {% if f.user.id == user.id %}
                                    {% set already_following = 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if already_following == 0 %}
                                <button class="btn btn-primary profile-nav-btn follow">Follow</button>
                            {% else %}
                                <button class="btn btn-primary profile-nav-btn unfollow">Unfollow</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% block profile_left %}
                    <div class="profile-info">
                        <div><strong>{{ user.displayName }}</strong></div>
                        <div><small>@{{ user.username }}</small></div>
                        {% if user.city is not empty %}
                            <div><small><i class="fas fa-map-marker-alt"></i> {{ user.city }}</small></div>
                        {% endif %}
                        {% if user.gender is not empty %}
                            {% if user.gender  == "0" %}
                                <div><small><i class="fas fa-mars"></i> Male</small></div>
                            {% elseif  user.gender  == "1" %}
                                <div><small><i class="fas fa-venus"></i> Female</small></div>
                            {% elseif  user.gender  == "2" %}
                                <div><small><i class="fas fa-genderless"></i> Other</small></div>
                            {% endif %}
                        {% endif %}
                        {% if user.birthDate is not empty %}
                            <div><small><i class="fas fa-birthday-cake"></i> {{ user.birthDate|date("F j, Y") }}</small></div>
                        {% endif %}
                        {#<div><p>Photos and videos</p>
                            <ul class="photo-video"></ul>
                        </div>#}
                    </div>
                {% endblock %}
            </div>
            <div class="col-lg-6">
                {% block profile_center %}
                {% endblock %}
            </div>
            <div class="col-lg-3">
                {% block profile_right %}
                    {{ render(controller('App\\Controller\\CommonController::trends')) }}
                {% endblock %}
            </div>
        </div>
    </div>

    {% if app.user is not empty and app.user.id == user.id %}
        {% if (formAvatar ?? null) is not empty %}
            {{ form_start(formAvatar, {'action': path('uploadAvatar'), 'method': 'POST',
                attr: {'class': 'd-none formAvatar'}}) }}
            {{ form_end(formAvatar) }}
        {% endif %}
        {% if (formBanner ?? null) is not empty %}
            {{ form_start(formBanner, {'action': path('uploadBanner'), 'method': 'POST',
                attr: {'class': 'd-none formBanner'}}) }}
            {{ form_end(formBanner) }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script rel="script" src="{{ asset('assets/js/follow.js') }}"></script>
    <script rel="script" src="{{ asset('assets/js/uploadProfile.js') }}"></script>
{% endblock %}