{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}
{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div id="banner" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="img-fluid" src="https://www.arrowperformancegroup.com/wp-content/uploads/2016/07/slider_concept10-1920x350.jpg" alt="placeholder image">
            </div>
            <div class="nav-profile">
                <div class="container">
                    <ul id="nav-ul" class="d-flex justify-content-md-between">
                        <li id="nav-link" class="nav-link"><a href="{{ path('profile_view', {username: user.username}) }}">Quacks</a></li>
                        <li id="nav-link" class="nav-link"><a href="{{ path('profile_following', {username: user.username}) }}">Following</a></li>
                        <li id="nav-link" class="nav-link"><a href="{{ path('profile_followers', {username: user.username}) }}">Followers</a></li>
                        <li id="nav-link" class="nav-link likes"><a href="{{ path('profile_favorites', {username: user.username}) }}">Likes</a></li>
{#                        <li id="nav-link" class="nav-link">Lists<a href="#"></a></li>#}
{#                        <li id="nav-link" class="nav-link">Moments<a href="#"></a></li>#}
                        <li class="d-flex justify-content-md-right"><button type="button" class="btn btn-primary edit-profile">Edit Profile</button></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="profile-avatar">
                    <img src="{{ asset('assets/img/female.png') }}" height="200" width="200" alt="Profile picture" class="avatar">
                </div>
            </div>
            {# Bottom container #}
            <div class="container my-2">
                <div class="row">
                    <div class="col-lg-3" style="margin-top: 70px;">
                        {% block profile_left %}
                            <div class="profile-info">
                                <li class="screen-name"><strong>{{ user.displayName }}</strong></li>
                                <li class="username">@{{ user.username }}</li>
                                <li>Photos and videos
                                    <ul class="photo-video"></ul>
                                </li>
                                </ul>
                            </div>
                        {% endblock %}
                    </div>
                    <div class="col-lg-6">
                        {% block profile_center %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-3">
                        {% block profile_right %}
                            {{ render(controller('App\\Controller\\CommonController::trends')) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}