{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}
{% block title %}Profile{% endblock %}


{% block body %}
    <img class="img-fluid" src="https://www.arrowperformancegroup.com/wp-content/uploads/2016/07/slider_concept10-1920x350.jpg" alt="placeholder image">
    <div class="nav-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="profile-avatar">
                        <a href="#">
                        <img src="{{ asset('assets/img/female.png') }}" alt="Profile picture" class="avatar">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="nav">
                        <a class="nav-link" href="{{ path('profile_view', {username: user.username}) }}">
                            <div>
                                <span>Quacks</span>
                                <div>{{ (user.posts|length)|number_format }}</div>
                            </div>
                        </a>
                        <a class="nav-link" href="{{ path('profile_following', {username: user.username}) }}">
                            <div>
                                <span>Following</span>
                                <div>{{ (user.following|length)|number_format }}</div>
                            </div>
                        </a>
                        <a class="nav-link" href="{{ path('profile_followers', {username: user.username}) }}">
                            <div>
                                <span>Followers</span>
                                <div>{{ (user.followers|length)|number_format }}</div>
                            </div>
                        </a>
                        <a class="nav-link" href="{{ path('profile_favorites', {username: user.username}) }}">
                            <div>
                                <span>Likes</span>
                                <div>{{ (user.favorites|length)|number_format }}</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 profile-nav-btn-group">
                    {% if app.user is not empty %}
                        {% if app.user.id == user.id %}
                            <button class="btn btn-primary profile-nav-btn">Edit Profile</button>
                        {% else %}
                            <button class="btn btn-primary profile-nav-btn">Follow</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% block profile_left %}
                    <div class="profile-info">
                        <div><strong>{{ user.displayName }}</strong></div>
                        <div><small>@{{ user.username }}</small></div>
                        {#<div><p>Photos and videos</p>
                            <ul class="photo-video"></ul>
                        </div>#}
                    </div>
                {% endblock %}
            </div>
            <div class="col-lg-6">
                {% block profile_center %}
                {% endblock %}
            </div>
            <div class="col-lg-3">
                {% block profile_right %}
                    {{ render(controller('App\\Controller\\CommonController::trends')) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}