{% extends 'profile/_layout.html.twig' %}

{% block title %}People followed by {{ user.displayName }} (@{{ user.username }}) | Ducker{% endblock %}

{% block profile_center %}
    {% if user.following is not empty %}
        <div class="card">
                <div class="card-header">
                    <strong>Following</strong>
                </div>
                <div class="list-group list-group-flush">
                    <div class="container-fluid">
                        <div class="row">
                            {% for following in user.following %}
                                <div class="card col-4">
                                    <div class="card-body picture-follow">
                                        <a href="{{ path('profile_view', { username: following.user.username }) }}">
                                            <img alt="avatar" id="avatar" src="{{ asset('assets/img/female.png') }}" height="64" width="64">
                                        </a>
                                        <p class="card-body name-follow">
                                            <h6>{{ following.user.displayName }}<br></h6>
                                            <h6 class="card-subtitle mb-2 text-muted">@{{ following.user.username }}</h6>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
    {% else %}
        <p><strong>@{{ user.username }}</strong> is not following anyone</p>
    {% endif %}
{% endblock %}
