{% extends 'profile/_layout.html.twig' %}

{% block title %}People following {{ user.displayName }} (@{{ user.username }}) | Ducker{% endblock %}

{% block profile_center %}
    {% if user.followers is not empty %}

        <div class="card">
            <div class="card-header">
                <strong>Followers</strong>
            </div>
            <div class="list-group list-group-flush">
                <div class="container-fluid">
                    <div class="row">
                        {% for follower in user.followers %}
                            <div class="card col-4">
                                <div class="card-body picture-follow">
                                    <a href="{{ path('profile_view', { username: follower.follower.username }) }}">
                                        {% if follower.follower is not empty and follower.follower.avatarPath is not empty %}
                                            {% set avatarUrl = asset('upload/avatar/'~ follower.follower.avatarPath) %}
                                        {% else %}
                                            {% set avatarUrl = asset('assets/img/female.png') %}
                                        {% endif %}
                                        <img alt="Profile picture of {{ follower.follower.username }}" src="{{ avatarUrl }}" class="mini-avatar-64" height="64" width="64">
                                    </a>
                                    <p class="card-body name-follow">
                                    <h6>{{ follower.follower.displayName }}<br></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"> @{{ follower.follower.username }}</h6>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="p-2">
            <p><strong>@{{ user.username }}</strong> has no followers</p>
        </div>
    {% endif %}
{% endblock %}