{% extends 'profile/_layout.html.twig' %}

{% block title %}People followed by {{ user.displayName }} (@{{ user.username }}) | Ducker{% endblock %}

{% block profile_center %}
    <div class="card">
        <div class="card-header">
            <strong>Following</strong>
        </div>
        <div class="list-group list-group-flush">
            {% for following in user.following %}
                <div class="card">
                    <div class="card-body">
                        <strong class="card-title">{{ following.user.displayName }}</strong>
                        <strong class="card-title">(@{{ following.user.username }})</strong>
                        <p class="card-text"><img id="avatar" src="{{ asset('assets/img/female.png') }}" height="64" width="64" alt="Card image cap">
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
