{% extends 'layour-3.html.twig' %}

{% block left_sidebar %}
    {{ render(controller('App\\Controller\\CommonController::trends')) }}
{% endblock %}

{% block center_body %}
    <div class="card">
        <div class="card-header">
            <nav class="nav nav-pills">
                {% set route = app.request.get('_route') %}
                <a class="nav-link {{ route == 'notifications' ? 'active' }}" href="{{ path('notifications') }}">All</a>
                <a class="nav-link {{ route == 'mentions' ? 'active' }}" href="{{ path('mentions') }}">Mentions</a>
            </nav>
        </div>
        {% block notifications_body %}
        {% endblock %}
    </div>
{% endblock %}

{% block right_sidebar %}
    {{ render(controller('App\\Controller\\CommonController::footer')) }}
{% endblock %}