{% extends 'layour-3.html.twig' %}

{% block title %}Ducker{% endblock %}

{% block left_sidebar %}
    {{ render(controller('App\\Controller\\CommonController::miniProfile')) }}
    {{ render(controller('App\\Controller\\CommonController::trends')) }}
{% endblock %}

{% block center_body %}
    <div class="card">
        <div class="card-header">
            {% include 'common/post_maker.html.twig' %}
        </div>
        <div class="timeline list-group list-group-flush">
            {% for post in timeline %}
                {% include 'common/post_card.html.twig' with { post: post } only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block right_sidebar %}
    {{ render(controller('App\\Controller\\CommonController::suggestions')) }}
    {{ render(controller('App\\Controller\\CommonController::footer')) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/post_maker.js') }}"></script>
    <script src="{{ asset('assets/js/follow.js') }}"></script>
{% endblock %}