{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/sign_up.css') }}">
{% endblock %}
{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="form, col-md-6">
    <h1>Join Ducker today.</h1>

    {{ form_start(formRegistration) }}

    {{ form_widget(formRegistration.display_name) }}
    {{ form_widget(formRegistration.username) }}
    {{ form_widget(formRegistration.email) }}
    {{ form_widget(formRegistration.password) }}

    <button type="submit" class="btn btn-success">Sign up</button>

    {{ form_end(formRegistration) }}
</div>
{% endblock %}