{% extends 'base-2.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}

<div class"container">
    <h1>Join Ducker today.</h1>

    {{ form_start(formSignup) }}

    {{ form_widget(formSignup.display_name) }}
    {{ form_widget(formSignup.username) }}
    {{ form_widget(formSignup.email) }}
    {{ form_widget(formSignup.password) }}

    <button type="submit" class="btn btn-success">Sign up</button>

    {{ form_end(formSignup) }}
</div>
{% endblock %}