{% extends 'base.html.twig' %}

{% block body %}

    <h1>Join Twitter today.</h1>

    {{ form_start(formRegistration) }}

    {{ form_row(formRegistration.username, {'attr': {'placeholder': "Full name"}}) }}
    {{ form_row(formRegistration.email, {'attr': {'placeholder': "Email"}}) }}
    {{ form_row(formRegistration.password, {'attr': {'placeholder': "Password"}}) }}

    <button type="submit" class="btn btn-success">Sign up</button>

    {{ form_end(formRegistration) }}

{% endblock %}