{% if m.sender == app.user %}
    <div class="message_user">
        <div class="message_user_manager">
            <div class="message_user_container">
                <span class="date_user">{{ m.submitTime|date('H:i') }}</span>
                <span class="content_user">{{ m.content }}</span>
            </div>
        </div>
    </div>
{% else %}
    <div class="message">
        <div class="message_manager">
            <div class="message_container">
                <span class="date">{{ m.submitTime|date('H:i') }}</span>
                <span class="author"><a href="{{ path('profile_view', { username: m.sender.username }) }}">@{{ m.sender.username }}</a> :</span>
                <span class="content">{{ m.content }}</span>
            </div>
        </div>
    </div>
{% endif %}