{% extends 'layout-2.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}

{% block left_sidebar %}
    {% if app.user.chatConversations is not empty %}
        <div class="card conversations">
            <div class="card-header">
                Conversations
            </div>
            <div class="list-group list-group-flush">
                {% for conversation in app.user.chatConversations %}
                    <a class="list-group-item list-group-item-action" href="{{ path('conversation_view', { id: conversation.id }) }}">
                        <div class="d-flex w-100 justify-content-between">
                        {% if conversation.participants[0].username == app.user.username %}
                            {% set correspondant = conversation.participants[1].username %}
                        {% else %}
                            {% set correspondant = conversation.participants[0].username %}
                        {% endif %}
                            <strong class="mb-1">With {{ correspondant }}</strong>
                            <strong class="mb-1">{{ conversation.name }}</strong>
                        </div>
                        {% if conversation.chatMessages is not empty %}
                            {% set lastChatMessage = conversation.chatMessages|last %}
                            <p class="mb-1">{{ lastChatMessage.content }}</p>
                            <small>{{ lastChatMessage.sender.username }}, {{ lastChatMessage.submitTime|date}}</small>
                        {% else %}
                            <small>No messages</small>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block center_body %}
    <div class="p-4 chat card">
        {% for m in messages %}
                <div class="message">
                    {% if m.sender == app.user %}
                    <span class="date_user"> {{ m.submitTime|date('H:i') }}</span>
                    {% else %}
                    <span class="date">{{ m.submitTime|date('H:i') }}</span>
                    {% endif %}
                    {% if m.sender == app.user %}
                    <span class="author_user"> : </span>
                    {% else %}
                    <span class="author">@{{ m.sender.username }} :</span>
                    {% endif %}
                    {% if m.sender == app.user %}
                    <span class="content_user"> {{ m.content }}</span>
                    {% else %}
                    <span class="content">{{ m.content }}</span>
                    {% endif %}
                </div>
        {% endfor %}
        {{ form_start(formMessages, {attr: {'id': 'formMessages'}}) }}

        {{ form_widget(formMessages.content) }}

        <button type="submit" id="create" class="btn btn-primary">Send</button>

        {{ form_end(formMessages) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/chat.js') }}"></script>
{% endblock %}