{% extends 'layout-2.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}

{% block left_sidebar %}
    {% if app.user.chatConversations is not empty %}
        {% include 'chat/conversation_list.html.twig' with { currentConversation: conversation.id } %}
    {% endif %}
{% endblock %}

{% block center_body %}
    <div class="p-4 chat card">
        <h1 class="chat_title">{{ get_chat_title(conversation) }}</h1>
        <div class="chat_conversation">
        {% for m in messages %}
            {% include 'chat/_message.html.twig' with { m: m } only %}
        {% endfor %}
        </div>
        {{ form_start(formMessages, {attr: {'id': 'formMessages'}}) }}
                
        {{ form_errors(formMessages.content) }}
        {{ form_widget(formMessages.content) }}

        <button type="submit" id="send" class="btn btn-primary">Send</button>

        {{ form_end(formMessages) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/chat.js') }}"></script>
{% endblock %}