{% extends 'layout-2.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}

{% block left_sidebar %}
    {% if app.user.chatConversations is not empty %}
        {% include 'chat/conversation_list.html.twig' with { currentConversation: conversation.id } %}
    {% endif %}
{% endblock %}

{% block center_body %}
    <div class="p-4 chat card">
        {% if conversation.participants[0].username == app.user.username %}
            {% set correspondant = conversation.participants[1].username %}
        {% else %}
            {% set correspondant = conversation.participants[0].username %}
        {% endif %}
        <h1 class="chat_title">Conversation with {{ correspondant }}</h1>
        <div class="chat_conversation">
        {% for m in messages %}
            {% if m.sender == app.user %}
                <div class="message_user">
                    <div class="message_user_manager">
                        <div class="message_user_container">
                            <span class="date_user">{{ m.submitTime|date('H:i') }}</span>
                            <span class="content_user">{{ m.content }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="message">
                    <div class="message_manager">
                        <div class="message_container">
                            <span class="date">{{ m.submitTime|date('H:i') }}</span>
                            <span class="author"><a href="{{ path('profile_view', { username: m.sender.username }) }}">@{{ m.sender.username }}</a> :</span>
                            <span class="content">{{ m.content }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}      
        {% endfor %}
        </div>
        {{ form_start(formMessages, {attr: {'id': 'formMessages'}}) }}
                
        {{ form_errors(formMessages.content) }}
        {{ form_widget(formMessages.content) }}

        <button type="submit" id="send" class="btn btn-primary">Send</button>

        {{ form_end(formMessages) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/chat.js') }}"></script>
{% endblock %}