{% extends 'layout-2.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}

{% block left_sidebar %}
    {% if app.user.chatConversations is not empty %}
        <div class="card">
            <div class="card-header">
                Conversations
            </div>

            <div class="list-group list-group-flush">
                {% for conversation in app.user.chatConversations %}
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">With {{ conversation.participants[0].username }}</strong>
                            <strong class="mb-1">{{ conversation.name }}</strong>
                        </div>
                        {% if conversation.chatMessages is not empty %}
                            {% set lastChatMessage = conversation.messages|last %}
                            <p class="mb-1">{{ lastChatMessage.content }}</p>
                            <small>{{ lastChatMessage.sender.displayName }}, 2 days ago</small>
                        {% else %}
                            <small>No messages</small>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block center_body %}
    <div class="card">
        <div class="card-body">
            <div class="p-4">
                <p><strong>Send a message, get a message</strong></p>
                <p>Direct Messages are private conversations between you and other people on Twitter. Share Tweets, media, and more!</p>

                {{ form_start(formChat) }}

                {{ form_widget(formChat.name) }}
                {{ form_widget(formChat.conv) }}

                <button type="submit" id="create" class="btn btn-primary">Start a conversation</button>

                {{ form_end(formChat) }}
            </div>
        </div>
    </div>
    <div class="p-4 chat">
        <div class="message">
            <span class="date">23:22</span>
            <span class="author">LD : </span>
            <span class="content">lorem glolorem glolorem glolorem glolorem glo</span>
        </div>
        <div class="message">
            <span class="date">23:22</span>
            <span class="author">LD : </span>
            <span class="content">lorem glolorem glolorem glolorem glolorem glo</span>
        </div>
        <div class="message">
            <span class="date">23:22</span>
            <span class="author">LD : </span>
            <span class="content">lorem glolorem glolorem glolorem glolorem glo</span>
        </div>
        <div class="user-inputs">
            <input type="text" id="content" name="content">
            <button type="submit" id"send" class="btn btn-primary">Send</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/chat.js') }}"></script>
{% endblock %}