{% extends 'layout-2.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}

{% block left_sidebar %}
    {% if app.user.chatConversations is not empty %}
        {% include 'chat/conversation_list.html.twig' %}
    {% endif %}
{% endblock %}

{% block center_body %}
    <div class="card">
        <div class="card-body">
            <div class="p-4">
                <p><strong>Send a message, get a message</strong></p>
                <p>Direct Messages are private conversations between you and other people on Ducker. Share Quacks, media, and more !</p>

                {{ form_start(formChat) }}

                {{ form_errors(formChat.name) }}
                {{ form_row(formChat.name) }}
                
                {{ form_errors(formChat.conv) }}
                {{ form_row(formChat.conv) }}

                <button type="submit" id="create" class="btn btn-primary">Start a conversation</button>

                {{ form_end(formChat) }}
            </div>
        </div>
    </div>
{% endblock %}