<div class="card card-body">
    <div>
        <a href="{{ path('profile_view', { username: app.user.username }) }}">
            <strong>{{ app.user.displayName }}</strong>
            <p>@{{ app.user.username }}</p>
        </a>
    </div>
    <p><strong>{{ (app.user.posts|length)|number_format }}</strong> Quacks</p>
    <p><strong>{{ (app.user.followers|length)|number_format }}</strong> Followers</p>
</div>