<div class="card card-body mini-user-profile">
    {% if app.user is not empty %}
        <div>
            <a href="{{ path('profile_view', { username: app.user.username }) }}">
                <strong>{{ app.user.displayName }}</strong>
                <p>@{{ app.user.username }}</p>
            </a>
        </div>
        <div class="d-flex">
            <div>
                <div><strong>{{ (app.user.posts|length)|number_format }}</strong></div>
                <div>Quacks</div>
            </div>
            <div class="mx-2">
                <div><strong>{{ (app.user.followers|length)|number_format }}</strong></div>
                <div>Followers</div>
            </div>
        </div>
    {% else %}
        <button class="btn btn-primary">Log in</button>
    {% endif %}
</div>