<div class="card card-body mini-user-profile">
    {% if app.user is not empty %}
        <div>
            <a href="{{ path('profile_view', { username: app.user.username }) }}">
                <strong>{{ app.user.displayName }}</strong>
                <p>@{{ app.user.username }}</p>
            </a>
        </div>
        <div class="d-flex flex-row">
            <div class="mx-2">
                <div><small>Quacks</small></div>
                <div><strong class="mini-profile__meta-number">{{ (app.user.posts|length)|number_format }}</strong></div>
            </div>
            <div class="mx-2">
                <div><small>Following</small></div>
                <div><strong class="mini-profile__meta-number">{{ (app.user.following|length)|number_format }}</strong></div>
            </div>
            <div class="mx-2">
                <div><small>Followers</small></div>
                <div><strong class="mini-profile__meta-number">{{ (app.user.followers|length)|number_format }}</strong></div>
            </div>
        </div>
    {% else %}
        <button class="btn btn-primary">Log in</button>
    {% endif %}
</div>