<div class="list-group-item list-group-item-action card-timeline post-card" data-post-id="{{ post.id }}">
    <div>
        {# == Displays when the post has been reposted #}
        {% if post.sourcePost is not empty %}
            <div><i class="fas fa-retweet"></i>
                <span>{{ post.sender.displayName }} Copyquacked</span>
            </div>
        {% endif %}

        {# This helps prevent duplicating code #}
        {% set realPost = post.sourcePost ?? post %}

        {# == Displays the post content #}
        <a href="{{ path('profile_view', { username: realPost.sender.username }) }}">
            <strong>{{ realPost.sender.displayName }}</strong>
        </a>
        <span>(@{{ realPost.sender.username }})</span>
        <p>{{ realPost.content }}</p>

        {# Displays embedded content if any #}
        {# TODO: Add video/audio support #}

        {% if realPost.mediaUrl is not empty %}
            <img class="img-fluid rounded mx-auto d-block" src="{{ asset('upload/post/' ~ realPost.mediaUrl) }}">
        {% endif %}
    </div>
    <div class="my-3">
        <button class="btn btn-secondary btn-sm" title="Comment"><i class="far fa-comment"></i> {{ realPost.replies|length }}</button>
        <button class="btn btn-secondary btn-sm post-card__repost-btn" title="Copyquack"><i class="fas fa-retweet"></i> {{ realPost.reposts|length }}</button>
        <button class="btn btn-secondary btn-sm post-card__like-btn" title="Like"><i class="far fa-heart"></i> {{ realPost.favorites|length }}</button>
        <button class="btn btn-secondary btn-sm" title="Direct message"><i class="far fa-envelope"></i></button>
        {% if app.user is not empty and post.sender.id == app.user.id %}
            <button class="btn btn-danger btn-sm post-card__delete-btn" title="Delete"><i class="far fa-trash-alt"></i></button>
        {% endif %}
    </div>
</div>