<div class="list-group-item list-group-item-action card-timeline post-card" data-post-id="{{ post.id }}" itemscope itemtype="http://schema.org/SocialMediaPosting">
    <div>
        {# == Displays when the post has been reposted #}
        {% if post.sourcePost is not empty %}
            <div class="post-card__repost-info">
                <i class="fas fa-retweet"></i>
                <span><a href="{{ path('profile_view', { username: post.sender.username }) }}">{{ post.sender.displayName }}</a> Copyquacked</span>
            </div>
        {% elseif post.parentPost is not empty %}
            <div class="post-card__repost-info">
                <i class="fas fa-reply"></i>
                <span>Replying to <a href="{{ path('profile_view', { username: post.parentPost.sender.username }) }}">@{{ post.parentPost.sender.username }}</a></span>
            </div>
        {% endif %}

        {# This helps prevent duplicating code #}
        {% set realPost = post.sourcePost ?? post %}

        {# == Displays the post content #}
        <div class="my-2 d-flex flex-row" itemprop="author" itemscope itemtype="http://schema.org/Person">
            {% if realPost.sender is not empty and realPost.sender.avatarPath is not empty %}
                {% set avatarUrl = asset('upload/avatar/'~ realPost.sender.avatarPath) %}
            {% else %}
                {% set avatarUrl = asset('assets/img/user-placeholder.png') %}
            {% endif %}
            <div>
                <img src="{{ avatarUrl }}" class="mini-avatar-48" height="48px" width="48px">
            </div>
            <div class="post-card__author_content pl-2">
                <a class="post-card__author-name" href="{{ path('profile_view', { username: realPost.sender.username }) }}">
                    <strong itemprop="name">{{ realPost.sender.displayName }}</strong>
                </a>
                <span class="post-card__username">(@{{ realPost.sender.username }})</span>
                <p itemprop="text">{{ realPost.content|format_post|raw }}</p>
            </div>
        </div>

        {# Displays embedded content if any #}
        {# TODO: Add video/audio support #}

        {% if realPost.mediaUrl is not empty %}
            <img itemprop="image" class="img-fluid rounded mx-auto d-block" src="{{ path('media_bin', { id: realPost.id }) }}">
        {% endif %}
    </div>
    <div class="pt-2">
        {% if app.user is not empty %}
            {% set likedByUser = realPost.isLikedBy(app.user) %}
            {% set repostedByUser = realPost.isRepostedBy(app.user) %}
        {% else %}
            {% set likedByUser = false %}
            {% set repostedByUser = false %}
        {% endif %}

        {% set repostBtnClass = repostedByUser ? 'btn-outline-success' : 'btn-outline-secondary' %}
        {% set likeBtnClass = likedByUser ? 'btn-outline-danger' : 'btn-outline-secondary' %}

        <a href="{{ path('view_post', {id: realPost.id}) }}" class="btn btn-outline-secondary btn-sm" title="Comment">
            <i class="far fa-comment"></i>
            <span>{{ realPost.replies|length }}</span>
        </a>
        <button class="btn {{ repostBtnClass }} btn-sm post-card__repost-btn" title="Copyquack">
            <i class="fas fa-retweet"></i>
            <span class="post-card__repost-count">{{ realPost.reposts|length }}</span>
        </button>
        <button class="btn {{ likeBtnClass }} btn-sm post-card__like-btn" title="Like">
            <i class="far fa-heart"></i>
            <span class="post-card__like-count">{{ realPost.favorites|length }}</span>
        </button>
        {#<button class="btn btn-outline-secondary btn-sm" title="Direct message">
            <i class="far fa-envelope"></i>
        </button>#}
        {% if app.user is not empty and post.sender.id == app.user.id %}
            <button class="btn btn-danger btn-sm post-card__delete-btn" title="Delete"><i class="far fa-trash-alt"></i></button>
        {% endif %}

        <div class="text-right post-card__send-time">
            {{ post.submitTime|time_diff }}
        </div>
    </div>
</div>