<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Ducker is the leading social media for Epitech students">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("assets/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("assets/favicon-16x16.png") }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/sign_up.css') }}">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar container">
                <a class="link {{ route == 'signup' ? 'active' }}" href="{{ path('signup')}}">Sign up</a>
                <img src="{{ asset('assets/img/shooting-gallery.png')}}">
                <a class="link {{ route == 'app_login' ? 'active' }}" href="{{ path('app_login')}}">Log in</a>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>