<nav class="navbar">
    <div class="container">
        <div class="d-flex redir-links-nav">
            {% set route = route_fwd %}
            <a class="nav-item nav-link {{ route == 'home' ? 'active' }}" href="{{ path('home')
            }}"><img src="{{ asset('assets/img/home.png') }}"><span class="p-2">Home</span></a>
            {% if app.user is not empty %}
                <a class="nav-item nav-link {{ route == 'notifications' or route == 'mentions' ? 'active' }}" href="{{ path('notifications')}}">
                    <img src="{{ asset('assets/img/alarm.png') }}">
                    <span class="p-2">Notifications</span>
                    {% if pending_notification_count > 0 %}
                        <span class="badge badge-primary">{{ pending_notification_count }}</span>
                    {% endif %}
                </a>
                <a class="nav-item nav-link {{ route == 'messages' ? 'active' }}" href="{{ path('messages') }}"><img alt="" src="{{ asset('assets/img/email.png') }}"><span class="p-2">Messages</span></a>
            {% endif %}
        </div>
        <span class="logo-click"><img alt="logo" src="{{ asset('assets/img/shooting-gallery.png')}}"></span>
        <div class="d-flex justify-content-between right-header">
            <form class="nav-item d-flex" method="get" action="{{ path("search_home") }}">
                <input class="searchNavBar" name="search_term" type="text" placeholder="Search Ducker">
                <button class="btn-search-NavBar fas fa-search search-click"></button>
            </form>
            {% if app.user is not empty %}
                <div class="btn-group">
                    <span class="dropdown-btn nav-item">
                        {% if app.user is not empty and app.user.avatarPath is empty %}
                            {% set avatarUrl = asset('assets/img/user-placeholder.png') %}
                        {% else %}
                            {% set avatarUrl = asset('upload/avatar/'~ app.user.avatarPath) %}
                        {% endif %}
                        <img alt="avatar" class="dropdown-img-btn" height="32px" width="32px" style="border-radius: 50%;" src="{{ avatarUrl }}">
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('profile_view', { username: app.user.username }) }}" class="dropdown-item">Profile</a>
                        <a href="{{ path('settings') }}" class="dropdown-item">Settings</a>
                        <a href="{{ path('app_logout') }} " class="dropdown-item">Logout</a>
                    </div>
                </div>
{#                <a class="nav-item btn btn-primary btn-tweet" href="#"><span class="text-btn">Quack</span></a>#}
            {% endif %}
        </div>
    </div>
</nav>